@charset "utf-8";

.inner {
  margin: 0 auto;
  width: 1100px;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
}

.fa_color1 {
  color: #777;
}

.fa_color2 {
  color: #8c8c8c;
  overflow: hidden;
  font-size: 40px;
}
.main {
padding-top: 78px;
}

/*header--------------------------------------------------------------------------------------------------------------------*/
.header {
  background: #fff;
  padding: 15px 0;
  width: 100%;
  z-index: 100;
  position: fixed;
}

.flex_header {
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.contact {
  background-color: #6ba7eb;
  font-size: 12px;
  padding: 12px 14px;
  border: none;
}

.contact_sp {
  display: none;
}

.contact a {
  color: #fff;
  transition: all 0.3s;
}

.contact a:hover {
  color: #333;
}

/*main_visual------------------------------------------------------------------------------------------------------------------*/
.main_visual {
  padding: 400px 0;
  background: url(../img/keyvisual/keyvisual.jpg) center/cover no-repeat;
}

.main_visual h2 {
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  margin-bottom: 30px;
  text-align: center;
}

.main_visual h3 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

/*work-------------------------------------------------------------------------------------------------------------------*/
.work {
  background-color: #e3f2fd;
  padding-top: 50px;
}

.work_flex {
  justify-content: space-between;
}

.work_img {
  width: 40%;
  text-align: center;
}

.work_img img {
  width: 250px;
  height: auto;
}

.work_text {
  width: 60%;
  padding-top: 20px;
}

.work_text h3 {
  font-size: 40px;
  letter-spacing: 10px;
  margin-bottom: 35px;
  text-align: center;
}

.work_text p {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  text-align: center;
}

/*skill----------------------------------------------------------------------------------------------------------------------*/
.skill {
  padding-top: 50px;
  padding-bottom: 70px;
}

.skill_text {
  font-size: 40px;
  letter-spacing: 10px;
  margin-bottom: 50px;
  text-align: center;
}

.skill_flex {
  flex-wrap: wrap;
  gap: 100px;
  justify-content: flex-start;
  margin-bottom: 100px;
}

.skill_flex:last-child {
  margin-bottom: 0px;
}

.skill_flex div {
  height: 300px;
}

.skill_flex img {
  height: 300px;
  width: 300px;
  opacity: 0.7;
  transition: all 0.3s;
}

.skill_flex li img:hover {
  opacity: 1;
}

/*plan------------------------------------------------------------------------------------------------------------------------*/
.plan {
  background-color: #d0dfea;
  padding-top: 50px;
  padding-bottom: 50px;
}

.plan h3 {
  font-size: 40px;
  letter-spacing: 10px;
  margin-bottom: 50px;
  text-align: center;
}

.table {
  width: 100%;
  table-layout: fixed;
}

.table th,
.table td {
  padding: 10px;
  font-size: 16px;
  line-height: 26px;
  border-right: 2px solid #fff;
  text-align: center;
}

.table th {
  font-weight: bold;
  background-color: #6ba7eb;
}

.table tr {
  background-color: #f9f9f9;
}

.table tr:nth-child(odd) {
  background-color: #e0efff;
}

.table td:last-of-type,
.table th:last-of-type {
  border-right: none;
}

/*sns---------------------------------------------------------------------------------------------------------*/
.sns {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #e3f2fd;
  flex-direction: column;
}

.sns_flex {
  justify-content: center;
}

.sns ul li {
  padding: 25px 0;
  width: 185px;
  transition: all 0.3s;
}

.sns ul li a {
  display: block;
  text-align: center;
}

.sns ul li:hover {
  background-color: #fff;
}

/*footer-------------------------------------------------------------------------------------------------------*/
.footer {
  background-color: #cfd8dc;
  padding-top: 20px;
  padding-bottom: 20px;
}

.small {
  font-size: 10px;
  text-align: right;
}

/*タブレット----------------------------------------------------------------------------------------------------*/
@media screen and (max-width:1199px) {

  /*ヘッダー*/
  .inner {
    width: 97%;
  }

  /*メインビジュアル*/
  .main_visual {
    padding: 250px 0;
  }

  /*ワーク*/
  .work {
    padding-bottom: 50px;
    margin-bottom: 10px;
  }

  .work_flex {
    display: block;
  }

  .work_img {
    width: 100%;
    text-align: center;
  }

  .work_text {
    width: 100%;
  }

  .work_text h3 {
    margin-top: 0px;
    margin-bottom: 35px;
  }

  /*スキル*/

  .skill_flex {
    display: block;
    gap: 0px;
    text-align: center;
  }
  
  .skill_img li:nth-child(3n){
    margin-bottom: 80px;
  }

  .skill_img a {
    display: block;
    height: 300px;
  }

  .skill_img li:last-child {
    margin-bottom: 0px;
  }
}

/*スマホ-------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:767px) {

  /*ヘッダー*/
  .inner {
    width: 97%;
  }

  .contact {
    display: none;
  }

  .contact a {
    display: none;
  }

  .contact_sp {
    display: block;
    border: #e3f2fd solid 3px;
    border-radius: 5px;
    padding: 5px;
  }

  .contact_sp a span {
    display: block;
  }

  .sp-btn {
    display: block;
    content: '';
    height: 4px;
    width: 30px;
    border-radius: 3px;
    background-color: #e3f2fd;
  }

  .sp-btn:first-child {
    margin-bottom: 6px;
  }

  .sp-btn:last-child {
    margin-top: 6px;
  }

  /*メインビジュアル*/
  .main_visual h2 {
    font-size: 40px;
  }

  .main_visual h3 {
    font-size: 30px;
  }

  .main_visual {
    padding: 200px 0;
  }

  /*ワーク*/
  .work_flex br {
    display: none;
  }

  /*プラン*/
  .table th {
    font-size: 14px;
    line-height: 22px;
  }

  .table td {
    font-size: 12px;
  }

  /*SNS*/
  .sns {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .sns_flex {
    display: block;
  }

  .sns ul li {
    width: 100%;
  }
}